* {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.page-container {
}

body {
	-webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
	-webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
	-webkit-user-select: text;                  /* prevent copy paste, to allow, change 'none' to 'text' */
	font-family: system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
	font-size: 12px;

	background-color: transparent;
	/*background-image: url('../images/ships.jpeg'); */
	/*background:url(../images/ships.jpeg) no-repeat center top;*/ /* 170px x 200px */
	background-repeat:no-repeat;
	background-size: contain;
	margin:0;
}

.content{
	background:#C2DFFF;
	background:linear-gradient(to bottom, #C2DFFF 0%,#FFFFFF 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	/*background-repeat:no-repeat;*/
	background: url('../images/waterisBlueDepth.jpg'); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	background-size: contain;
	margin-top:100%; /* This is the element which puts live preview behind the HTML layer */
	padding:1em;
}

h1 {
	color: #00E5FF;
	font-size: 18px;
	font-weight: normal;
	margin: 12px 0;
	overflow: visible;
	padding: 0px;
	text-align: center;
}

button{
	margin:6px 6px 6px 0;
	padding:6px;
}

fieldset {
	border: 1px solid #808080;
	border-radius: 3px;
	margin: 8px 0;
}

img {
	max-width: 95%;
}

label {
	color: darkred !important;
	font-weight: bold;
	display: inline-flex;
	margin: 2px;
}

legend {
	color: #455A64;
	font-size: 12px;
	font-weight: bold;
}

input[type="text"],
input[type="tel"],
select,
textarea {
	box-sizing: border-box;
	margin:6px 6px 6px 0;
}

input[type="number"] {
	margin:6px 6px 6px 0;
	width:16%
}

textarea{
	font-size:small;
	width:100%;
}

.blueText{
	color:#1976D2;
}

.orange{
	color:#F57C00;
}

img.info{
	float:right;
	opacity:0.33;
	width:32px;
	height:32px;
}

.link{
	color:#0000DD;
	cursor:pointer;
}

.link:active,
.link:hover{
	color:#DD0000;
}

.error{
	color:#E53935;
}

.success{
	color:#black;
	font-weight: bold;
}

.selectCustom {
	width: 40% !important;
	display: inline-flex;
}

.inputCustom {
	width: 25% !important;
}

.inputWideCustom {
	width: 65% !important;
}

.fieldsetCustom {
	display: flex;
}

.smallMarginRight {
	margin-right: 10px;
}

#overlay, .overlay {
  position: absolute;
  top: 0;
  left: 0;
}

.footer_area {
  color: blue;
  font-weight: bold;
}

.menuSpan {
	font-size: x-large;
}

.bold {
	font-weight: bold;
}

input::placeholder {
  font-weight: bold;
  opacity: 0.35;
  color: red;
}
